# For deployment over portainer a stack.env is automatically created
# For local deployment you must create a .env and a similar file named stack.env in the same directory as this file. 
# The copy stack.env file is necessary for local deployment as it is referenced in the docker-compose-yml.

# Your tunnel token
TUNNEL_TOKEN=YOUR_TOKEN

# Your API key
API_KEY=YOUR_KEY

# TimescaleDB settings
POSTGRES_USER=YOUR_USER
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=YOUR_DB_NAME
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# VisualCrossing API settings
VISUAL_CROSSING_API_KEY=YOUR_KEY

# ENTSO-E API Key
ENTSOE_API_KEY=YOUR_ENTSOE_KEY

# Backblaze B2 backup bucket settings
B2_KEY_ID=YOUR_B2_KEY_ID
B2_APPLICATION_KEY=YOUR_B2_APPLICATION_KEY
B2_BUCKET_NAME=your-chosen-bucket-name