# For deployment over portainer a stack.env is automatically created
# For local deployment you must create a .env and a similar file named stack.env in the same directory as this file. 
# The copy stack.env file is necessary for local deployment as it is referenced in the docker-compose-yml.

# Your tunnel token
TUNNEL_TOKEN=YOUR_TOKEN

# Your API key
API_KEY=YOUR_KEY

# TimescaleDB settings
POSTGRES_USER=YOUR_USER
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=YOUR_DB_NAME
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}