fastapi
uvicorn
python-dotenv
databases>=0.5.0
asyncpg>=0.27.0
sqlalchemy>=1.4.0
psycopg2-binary>=2.9
httpx>=0.20
b2sdk>=2.9.2
entsoe-py
pandas
numpy
pytest
pytest-asyncio
pytest-mock
types-requests
simpleeval
pvlib
cdsapi
matplotlib
timezonefinder
pyarrow
fastparquet